body{
    font-family: 'Times New Roman', Times, serif;
}

.topnav{
    background-color: yellowgreen;
    overflow: hidden;
}
.isi-cart{
    margin-left: 3%;
    margin-right: 50%;
}
/* Style the links inside the navigation bar */
.topnav p {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav p.active {
    background-color: gold;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    color: white;
  }

  .topnav a.active {
    background-color: gold;
    font-family:"Comic Sans MS", "Comic Sans", cursive;;
    color: white;
  }
  h2{
      font-family: "Comic Sans MS", "Comic Sans", cursive;;
  }

  .tombol-cari{
    float: right;
    padding: 14px 16px;
  }