body {
  background-color: khaki;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box {
  width: 25%;
 
}

.container2 {
  display: flex;
  margin: 50px auto;
  height: 20px;
  justify-content: space-between;


}
.foto {
  border: 1px solid black;
  width: 18%;
  height: 15px;
}
img {
  width: 30%;
  height: 50%;
}
  